@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Oswald:wght@400;700&display=swap');

:root {
    --primary-font: 'Oswald', sans-serif;
    --secondary-font: 'Exo 2', sans-serif;

    --primary-color: #87f542; /* Background 1 */
    --secondary-color: #434740; /* Background 2 */
    --tertiary-color: #6d7568;
    --quaternary-color: #f0f3f7; /* Font color */
    --quinary-color: #630ddb;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar  */

#navbar {
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
    height: 50px;
    font-family: var(--secondary-font);
    top: 0;
    left: 0;
    right: 0;
}

#navbar-ul {
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
    justify-content: flex-end;
}

.navbar-li {
    width: 10%;
    min-width: 99px;
    height: 100%;
}

.navbar-link {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--quaternary-color);
    text-decoration: none;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
}

.navbar-link:hover {
    background-color: var(--secondary-color);
}

/* ********************************************** */

/* Welcome section */

#welcome-section {
    display: flex;
    height: 100vh;
    padding: 50px;
    background-color: var(--secondary-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portfolio-title {
    font-family: var(--secondary-font);
    font-size: 500%;
    color: var(--quaternary-color);
    text-align: center;
}

#portfolio-sub-title {
    font-family: var(--primary-font);
    font-size: 150%;
    color: var(--primary-color);
    text-align: center;
}


/* ******************************************** */

/* Projects section */

#projects {
    display: flex;
    padding: 50px 3%;
    flex-wrap: wrap;
    background-color: var(--tertiary-color);
}

.project-tile {
    width: 29.3%;
    margin: 0 2% 50px 2%;
    margin-bottom: 50px;
    box-shadow: 2px 2px 2px 2px var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

.project-tile:hover {
    transform: scale(1.1);
}

.project-img {
    width: 100%;
}

.project-title {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font);
}

#all-projects-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--quaternary-color);
    font-family: var(--secondary-font);
    text-decoration: none;
    font-size: 150%;
    background-color: var(--quinary-color);
}

#all-projects-button:hover {
    font-size: 200%;
    transform: none;
}

/* ****************************************** */

@media (max-width: 360px) { 

    /* Navbar */

    #navbar {
        width: 100%;
        min-width: max-content;
    }

    #navbar-ul {
        justify-content: center;
    }

    .navbar-li {
        width: 30%;
        min-width: 108px;
    }

    /* **************************************** */

    /* Welcome section  */

    #portfolio-title {
        font-size: 350%;
    }

    #portfolio-sub-title {
        font-size: 125%;
    }

    /* *************************************** */

    /* Project section */

    .project-tile {
        width: 80%;
        margin: 15px auto;
    }

    /* ************************************* */
}